---
import nav from '../components/nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div>
        <h1>Servicio de Instalación de cámaras de seguridad</h1>
   <p>En Infortech entendemos que la seguridad de su hogar y empresa es una prioridad. Por eso, ofrecemos servicios especializados de instalación de cámaras de seguridad CCTV, diseñados para proporcionar tranquilidad y protección las 24 horas del día. Nuestro equipo de técnicos certificados utiliza tecnología y productos de vanguardia para garantizar una cobertura completa y eficaz.
   <br>
   <br>
       Asesoramiento experto: Nuestros especialistas evalúan sus necesidades específicas para ofrecer soluciones personalizadas.
    <br>
    <br>
       Instalación profesional: Realizada por técnicos altamente capacitados que aseguran una instalación impecable y discreta.
    <br>
    <br>
       Soporte técnico post-instalación: Garantizamos un servicio al cliente excepcional y soporte continuo para asegurar el funcionamiento óptimo de su sistema.
    <br>
    <br>
       Proteja lo que más importa, contáctenos hoy para una consulta sin compromiso y descubra cómo podemos ayudarle a sentirse más seguro.</p>
</div>
    
</Layout>


<style>
    .dev{
        font-family: Arial, sans-serif; 
        line-height: 1.5; 
    }

</style>