---
import Nav from "../components/nav.astro"
import Contacto from "../components/contacto.astro"
import Servidor from "../components/servidor.astro"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>INFORTECH 2204</title>
	</head>
	<body>
		<header>
			<Nav></Nav>
		</header>
		
		<slot />
	</body>
	<footer>
		<footer>
    <p>&copy; 2025 INFORTECH. Todos los derechos reservados.</p>
  </footer>
</html>

<style>
	/html, 
	 body {
		margin: 0.5;
		width: 100%;
		height: 100%;
	} 

	footer {
  background: #0a2a4d;
  color: white;
  text-align: center;
  padding: 15px;
}

</style>
